@import "tailwindcss";

@theme {
  --color-cyan-400: #22d3ee;
  --color-blue-600: #2563eb;
}

:root {
  background: #000000;
  color: #ffffff;
}

/* Forzamos que Tailwind use estas capas */
@layer base {
  body {
    @apply bg-black text-white antialiased;
  }
}